
.t table
        {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  border: 1px solid;
  margin: 1px;
  background: ivory;
  padding:2px;
  }
 
.t th
        {
  background: lightblue;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border: 1px solid;
  padding: 1px;

  }
 
.t tr td
        {
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border: 1px solid;
  padding: 1px;
 
  }
  
div.scrollable {
    overflow-y: scroll;
    height: 100%;
}


.tt table
        {
  height: 600px;
  width:20%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  border: 1px solid;
  margin: 1px;
  padding:2px;
  }
 
.tt th
        {
  text-align: center;
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border: 1px solid;
  padding: 1px;

  }
 
.tt tr td
        {
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border: 1px solid;
  padding: 1px;
 
  }

