/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}
.tooltip {
    position: relative;
    display:inline;
    border:none;
}

.travaux {
    position: relative;
    display:inline;
    border:none;
}

.tooltip span {
    position: absolute;
    background:black;
    color:ivory;
    min-width:200px;    
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
.tooltip img {
background-color:none;
display:inline-table;
text-decoration:none;
}
.travaux span {
    position: absolute;
    background:red;
    color:ivory;
    min-width:200px;    
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
.travaux img {
background-color:none;
display:inline-table;
text-decoration:none;
}
.hover {
    background-color:none;
    text-decoration:none;
}
.travaux span {
    background-color:red;
}
.tooltip span:after {
    content: '';
    position: absolute;
    top:0px;
    left:-5px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
    
:hover.tooltip span {
    visibility: visible;
    opacity: 0.8;
    top: 5px;
    left: 35px;
    z-index: 10000;
}
.travaux span:after {
    content: '';
    position: absolute;
    top:0px;
    left:-5px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
    
:hover.travaux span {
    visibility: visible;
    opacity: 0.8;
    top: 5px;
    left: 35px;
    z-index: 10000;
}
.zone {
 width:100%;
}

.titre_zone{
background-color:black;
border-radius:10px;
color:white;
font-weight:bold;
padding:2px 2px 2px 10px;
}

ul.arbre {
 margin-top:0;
 width:32vw;
 height:800px;  
}

.entetecompo{
min-height:8vh;
z-index:20000;
background-color:lightblue;
}

.compositeur td{
height:98vh;
}

.list_box select {
min-height:20px;
line-height:20px;
margin:0px;
height:0px;
border-spacing:0px;
}

@font-face {
  font-family: "entypo";
  src: url('/fonts/entypo.ttf') format('truetype');
}

.entypo {
    font-family: "entypo", "Arial";
    font-size: 12pt, 10pt;
}
