.gre, .gre * { box-sizing: border-box; }

.gre {
    /*width: 100%;  supprime les sauts de ligne - seulement avec Opera ??*/
    width:900px;
    margin: 0;
    padding: 4px;
    display: block;
    white-space: pre;
}

.gre-minilink {
    text-decoration: none;
    color: #2C3E50;
}
.gre-toolbar {
    overflow: hidden;
    background-color:lightblue;
    padding: 0;
    margin: 0 0 2px 0;
}
.gre-toolbar img {
    vertical-align: middle;
    opacity: 0.9;
}
.gre-toolbar img:hover {
    opacity: 1;
}
.gre-toolbar a, .gre-toolbar a img {
    border: 0;
}
.gre-toolbar a, .gre-toolbar select {
    display: block;
    float: left;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #2C3E50;
    font-size: 18px;
    margin: 0 1px 1px 0;
}
.gre-toolbar a:hover,
.gre-toolbar a:focus,
.gre-toolbar a:active {
	color: #ECF0F1;
	background-color: #34495E;
	text-decoration: none;
}

.gre-toolbar a:active {
	background-image: none;
	outline: 0;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.gre-toolbar select {
    width: auto;
    min-width: 200px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    font-family: inherit;
	font-size: 14px;
    border: 0 none;
}
.frameBody {
    text-align:justify;
    /*font-family: inherit;*/
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol", "Apple Color Emoji", "Segoe UI Emoji";*/
    color: #222222;
    margin: 10pt;
}
