/**********************************************************
**  style.css
**  This is a skin for PmWiki: http://www.pmwiki.org
**  Author: Ian MacGregor
**  Date: November 8, 2013
**  License: GPL
***********************************************************/

body {
margin: 0px;
font-family: Arial, sans-serif; 
font-size: 14pt; /* 10pt */
text-align:justify;
/* line-height: 16px; /* 16pt */
/* background-color: black; */
}

#wrapper {
height: 100%;
width: 100%;
/*background-color: #f5f0ea;*/
/* background-color: blue;*/
}

.sitesearch {
text-align: right;
font-size: 9.5pt;
line-height: 8px;
}

.sitesearch input {
font-size: 85%;
} 

/* styling for the header */
#header {
padding: 2px 10px 5px 10px;
border-bottom: 1px solid #000000;
color: #fcfcfc;
/* background-color: #B18904; */
background-color: #016193;
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FE642E), to(#B18904));
background: -webkit-linear-gradient(top, #FE642E, #B18904);
background: -moz-linear-gradient(top, #FE642E, #B18904);
background: -ms-linear-gradient(top, #FE642E, #B18904);
background: -o-linear-gradient(top, #FE642E, #B18904); */
}

#header h1 {
font-family: Georgia,sans-serif;
font-size: 30px;font-weight: normal;
line-height: 10px;
letter-spacing: 1px;
color: #fcfcfc;
}

#header a:link {
color: orange;
text-decoration: none;
}

#header a:visited {
color: green;
text-decoration: none;
}

#header a:hover {
/*color: yellow;*/
text-decoration: none;
}

#header a:focus {
color: yellow;
text-decoration: none;}

/* styling for non-existent link text */
#header a.createlinktext {
color:#ffffff;
border: none !important;
text-decoration: none !important;
}

/* styling for non-existent link glyph in header area */
#header a.createlink {
display: none;
}

/* styling for the second the site navigation bar */
#sidecontent {
margin: 2px 10px 2px 1px;
padding: 3px 3px 3px 3px;
/*border: 1px solid #66594e;*/
font-size: 13px;
font-weight: bold;
/*color: #f2e4d3;*/
/*background-color: #016193;*/
border-radius: 5px;
}


/*
#sidecontent a:link {
color: white;
text-decoration: none;
}

#sidecontent a:visited {
color: green;
text-decoration: none;
}

#sidecontent a:hover {
color: yellow;
text-decoration: none;
}

#sidecontent a:focus {
color: yellow;
text-decoration: none;
}
*/

#sidecontent table,th,tr,td{
 border:none;
 
}

#sidecontent h1 {
color: #f2e4d3;
}

#sidecontent h2 {
color: #f2e4d3;
}

#sidecontent h3 {
color: #f2e4d3;
}

#sidecontent h4 {
color: #f2e4d3;
}

#sidecontent h5 {
color: #f2e4d3;
}

#sidecontent h6 {
color: #f2e4d3;
}

/* styling for the page body */
#content {
padding: 0px 20px 20px 3px;
color: #4d413c;
background-color: ivory; /* #eeeeee; /*f5f0ea*/ 
}

#pageactions {
padding: 12px 0px 0px 0px;
/*font-size: 9pt;
line-height: 2px;*/
text-align: right;
}

#pageactions ul {
list-style: none;
}

#pageactions li {
display: inline;
}

pagetitle {
font-family: Georgia,sans-serif;
font-size: 20px;
padding-bottom: 4px;
line-height: 20px;
color: #73060e;
}

/* styling for non-existent link glyph in content area */
#content a.createlink {
color:#ff0000;
}

/* styling for unordered lists */
ul {
margin-left: -1em;
}

ul ul {
margin-left: -2em;
}

ul ul ul {
margin-left: -2em;
}

ol {
margin-left: -1em;
}

ol ol {
margin-left: -2em;
}

ol ol ol {
margin-left: -2em;
}

li {
    margin-left:1cm;
}

/* styling for links */
a:link {
color: blue;
text-decoration: none;
}

a:visited {
color: #cc33ff;
text-decoration: none;
}

a:hover {
color: #9900cc;
text-decoration: none;
}

/*
a:focus {
color: #aa0000;
text-decoration: none;
}*/

/* styling for non-existent link text */
a.createlinktext {
color:#ff0000;
}

a.createlink {
color:#ff0000;
}

h1, h2, h3, h4, h5, h6 {
    color:#34495e;
    font-weight:bold;
}
/* styling for html headings */
/*
h1 {
font-family: Georgia,sans-serif;
margin: 0;
margin: 18px 0px 14px 10px;
color: #73060e;
}

h2 {
font-family: Georgia,sans-serif;
margin: 0;
margin: 18px 0px 14px 10px;
color: #73060e;
}

h3 {
font-family: Georgia,sans-serif;
margin: 0;
margin: 14px 0px 10px 10px;
line-height: 14px;
color: #73060e;
}

h4 {
font-family: Georgia,sans-serif;
margin: 0;
margin: 10px 0px 6px 10px;
line-height: 9px;
color: #73060e;
}

h5 {
margin: 0;
margin: 8px 0px 6px 10px;
font-size: 12px;
line-height: 10px;
color: #73060e;
}

h6 {
margin: 0;
margin: 8px 0px 6px 10px;
font-size: 11px;
line-height: 9px;
color: #73060e;
}
*/

/* styling for code blocks text */
pre {
border: 1px solid #d4d4d4;
font-family: 'Andale Mono','Courier New',Courier,monospace;
padding: 4px 10px 4px 10px;
color: #000000;
background-color: #ffffff;
overflow: auto;
}

pre pre {
border: 1px solid #d4d4d4;
font-family: 'Andale Mono','Courier New',Courier,monospace;
padding: 4px 10px 4px 10px;
color: #000000;
background-color: #ffffff;
overflow: auto;
}

/* styling for pre-formatted text */
code {
font-family: 'Lucida Console','Andale Mono','Courier New',Courier,monospace;
color: #403632;
}

code code {
font-family: 'Lucida Console','Andale Mono','Courier New',Courier,monospace;
color: #403632;
}

/* styling for tables */
table {
border-collapse: collapse;
}

/* styling for horizontal lines */
hr {
height: 1px;
background-color: #4d413c;
border: 0;
}

/* styling for the wiki edit area */
#wikiedit textarea {
width: 99%;
margin: 0;
clear: none;
}

/* styling for the footer */
#footer {
padding: 10px 10px 10px 10px;
border-top: 1px solid #000000;
font-size: 9pt;
text-align: center;
color: #262120;
background-color: #a6917f;
}

#footer a:link {
color: #000000;
text-decoration: none;
}

#footer a:visited {
color: #000000;
text-decoration: none;
}

#footer a:hover {
color: #000000;
text-decoration: underline;
}

#footer a:focus {
color: #000000;
text-decoration: underline;
}

img {
  max-height: 600px; width: max-height:800px;
}

h1 { /* FE */
    display: inline;
    line-height: 1em;
    font-size: 2em;
}
