.body {
    font: 14pt bolder serif;
}
.jolitexte {
 font: 14pt bolder serif;
 text-align:justify;
 width:600px;
 margin:auto;
 background: #edd8c4 top left no-repeat;
 color:black;
 padding: 10px;
 margin:auto;
}

.imgleft {
float:left;
margin-left:-5px;
}

.interpolation{
 font: 11pt bolder serif;
 display: inline-block;
 /*border:1px dotted gray;*/
 line-height:12pt;
 text-indent:0cm;
 text-align:justify;
 width:621px;
 background-color:ivory;
 color:black;
 /*margin:auto;*/
 margin: 5px 0px 10px -49px;
 padding:16px 0px 16px 0px;
}

.jolitexte p {
 font: 14pt bolder serif;
 line-height:16pt; 
 text-indent:1cm;
 margin-top: 0px;
 margin-bottom: 0px;
 /*text-align:justify;*/
 /*display:inline-block;*/
/** padding: 0px 5px 0px 5px;**/
}

.par {
 text-indent:1cm;
}

.texte p {
 font:14pt bolder serif;
 /*text-indent:1cm;*/
 text-align:justify;
}

.auteur, .auteur p{
 font: small-caps 16pt serif;
 font-weight:bold;
 text-align:right;
 margin-top:8px;

}

.reference, .reference p{
 /*font-style:italic;*/
 font-size: 16pt;
 margin-top:0px;
 font-weight:normal;
 text-align:right;
 font-family:"times new roman", times, serif;
}

.epigraphe p{
 font-size: 16pt;
 font-weight:bold;
 text-align:right;
}

figure {
    display: inline-block;
    margin: 2px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    margin-top:5px;
    text-align: center;
}

/*
span.sidenoteleft { float: left; margin-left: -150px; text-align:right; color:red;font: 14pt bolder serif;}
div.sidenoteright { float: right; margin-right: -150px; text-align:left; color:blue;font: 14pt bolder serif;}
div.sidenoteleft, div.sidenoteright { width: 150px;  font: 14pt bolder serif;}
div.sidenoteleft div, div.sidenoteright div { margin: 0 10px; padding: 4px;font: 14pt bolder serif; }
*/

.sidenoteleft {
font: 14pt bolder serif;
float: left; 
text-indent:0cm;
width: 150px; 
margin-left: -170px; 
padding: 4px; 
text-align:right; 
color:red;
}

.sidenoteright {
font: 14pt bolder serif;
float: right; 
width: 150px; 
text-indent:0cm;
margin-right: -170px; 
padding: 4px; 
text-align:left; 
color:blue;
}

.jolitexte ul { list-style-position: outside; margin:16px 0 16px 0; }

.jolitexte li {
margin-left:2.5cm;
list-style:disc;
font: 16pt bolder serif;
}

/*.jolitexte img { background-color:#ffe6e6;}*/

/* pour les images avec des légendes pour les couvertures de livres */

.case {
        margin:0px;
        padding:0px;
        float:left;
        width: 159px;
	/*border:1px gray solid;*/
        min-height: 320px;
	max-height:320px;
        /*border: 1px solid #000;*/
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
        _height: 360px;
    }


