
.jolitexte {
 /*background: #DDB top left no-repeat;*/
 padding: 0px;
}


.jolitexte p {
 font: 28pt bolder serif;
 text-indent:1cm;text-align:justify;
 padding: 0px 100px 0px 100px;**/
}

.texte p{
 font:18pt bolder serif;
 text-indent:1cm;text-align:justify;
 padding: 0px 0px;
}


.auteur p{
 font:24pt bolder serif;
 /* font-weight:bold;*/
 text-align:right; 
 padding: 0px 0px 20px;
}

.reference p{
 font-style:italic;
 font-size: 24pt;
 font-weight:normal;
 text-align:right;
 font-family:"times new roman", times, serif;
}

.epigraphe p{
 font-size: 30pt;
 font-weight:bold;
 text-align:right;
}
