/*
 * css for slimtoc
 *
 * The triangles in the tocheader are created via border-styles,
 * got that from DokuWiki's toc
 * toc_open span is for the triangle with edge downwards ('klick to open toc')
 * toc_close span is for the triangle with edge upwards ('klick to close toc')
 */

div.toc { margin:1em 0 0 1em;font-size:80%;
    float:right; width:38%; clear:both;
    border: 1px dotted #cccccc;
    padding: 0.25em;
    background-color: #f7f7f7; }
div.tocheader{border:1px solid #8cacbb;
    background-color:#dee7ec;
    text-align:left;
    font-weight:bold;padding:3px;margin-bottom:2px;}
span.toc_open,
span.toc_close{
  border:0.4em solid #dee7ec;
  float:right;
  display:block;
  margin-left:0;
  margin-right:3px;
  margin-bottom:0;
}
span.toc_open{
   margin-top:0.4em;
   border-top-color:#000;
}
span.toc_close{
  margin-top:0;
  border-bottom-color:#000;
}
span.toc_open span,
span.toc_close span{ display:none;}

.toclist ol { list-style: none; }
.toclist ol li{text-indent:-2em}
