@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
@import url(pretty.css);  /* stuff that makes the slides look better than blah */

.texte {
  font-size:200%;
}

.signature {
  font-size:2%;
}

img {
  max-height: 600px; width: auto;
}