/**********************************************************
**  style.css
**  This is a skin for PmWiki: http://www.pmwiki.org
**  Author: Ian MacGregor
**  Date: November 8, 2013
**  License: GPL
***********************************************************/

body {
margin: 0;
font-family: Arial, Helvetica, Verdana, sans-serif;
font-size: 10pt;
line-height: 18px;
background-color: lightblue;
}

background-color: lightblue;

