body
  {
  margin-top:0;
  margin-left:0;
  }

.green 
  {	
  background-color:#CCFFFF;
  }

table,tr,td
  {
  border-width:1px;
  border-collapse: collapse;
  padding: 2px;
  border-spacing: 0;
  margin: 0;
  background: ivory;
  }

th
	{
  background: #87cefa;
  }

td,th
	{
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 1px;

  }

body {
		margin:0px 0px 0px 0px;
		font:11pt/16px verdana, arial, helvetica, sans-serif;
		background:white;
		}

A	{
	text-decoration:none;
	}
