<h1>Principe</h1>

<p>Si chacun déclare les textes que vont présenter ses élèves le jour de
l'oral dans telle série <u>dans la ville où ils passent l'oral</u>, alors chacun pourra savoir à l'avance sur quels textes il va interroger dans cette ville/série
et donc préparer l'oral, voire apporter des éditions des textes.</p>

<h1>Préalable</h1>

<h2>1. <a href="?action=ajouter un auteur">Vérifiez</a> si les auteurs de vos textes existent, sinon ajoutez les</h2>

<h2>2. <a href="?action=ajouter un titre">Vérifiez</a> si les titres existent, sinon ajoutez les</h2>
 
<p>(vous avez la liberté de doublonner un titre déjà existant, mais en indiquant
un découpage différent)</p>

<h2>3. <a href="?action=ajouter une ville">Vérifiez</a> si la ville <u>où vos élèves passeront l'oral</u> existe, sinon ajoutez (indiquez l'académie)</h2>
 
<h1>Entrée des oeuvres dans la base de données<h1>

<h2>Remplissez pour chaque <a href="?action=définir une oeuvre">oeuvre étudiée</a> le formulaire.</h2>

<p>Il vous sera demandé pour chaque oeuvre: <b>ville, titre, série</b>... et c'est
tout. Cela prend quelques secondes.</p>

<h1>Après</h1>

<h2>Le <a href="?action=tri global">tri global</a> montre toutes les oeuvres par académie, par ville et par série. Il y a aussi un <a href="?action=tri par académie">tri par académie</a></h2>

<h2>Ou mieux, avec <a href="?action=mon oral">mon oral</a> il vous suffira d'indiquer seulement la ville et les séries où vous interrogez</a> et vous saurez tout d'un coup.</h2>

<h1>Bonus</h1>

Les <a href="?action=hit titres">titres les plus données</a>.</br>
Les <a href="?action=hit auteurs">auteurs les plus donnés</a>.

<p>Si vous avez un souci, n'hésitez pas à m'écrire: francois@elie.org</p>
