/* don't change this unless you want the layout stuff to show up in the outline view! */

.hide, .layout div, #footer *, #controlForm * {display: none;}
#footer, #controls, #controlForm, #navLinks, #sheet {display: inline; visibility: visible; margin: 0; padding: 0;}
#sheet {float: right; padding: 0.5em;}
html>body #sheet {position: fixed; top: 0; right: 0;}

/* making the outline look pretty-ish */

#slide0 h1, #slide0 h2, #slide0 h3, #slide0 h4 {border: none; margin: 0;}
#slide0 h1 {padding-top: 1.5em;}
#.slide h1 {margin: 1.5em 0 0; padding-top: 0.25em; border-top: 1px solid #888; border-bottom: 1px solid #AAA;}
#sheet {border: 1px solid; border-width: 0 0 1px 1px; background: #FFF;}

.level1 { top:0;}
.level2 { top:0;}
.level3 { top:0;}
