/* css utilisée pour l'affichage des textes en popup (class jolitexte) */
body
  {
  margin-top:0;
  margin-left:0;
  }

.green 
  {	
  background-color:#CCFFFF;
  }

table,tr,td
  {
  border-width:1px;
  border-collapse: collapse;
  padding: 2px;
  border-spacing: 0;
  margin: 0;
  background: ivory;
  }

th
	{
  background: #87cefa;
  }

td,th
	{
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 1px;

  }

body {
  margin:0px 0px 0px 0px;
  font:11pt/16px verdana, arial, helvetica, sans-serif;
  background:white;
		}

A	{
	text-decoration:none;
	}
h3      {
        background:darkblue;        
        color:white;
        }
        
div.scrollable {
    overflow-y: scroll;
    height: 100%;
}

.jolitexte {
 background: #DDB top left no-repeat;
 padding:0px;
 margin:0px;
}


.jolitexte p {
 font: 12pt bold serif;
 text-indent:1cm;text-align:justify;
 margin-bottom:-20px;
}

.auteur p{
 font-size: 14pt;
 font-weight:bold;
 text-align:right; 
 padding:0px:
}

.reference p{
 font-style:italic;
 font-size: 14pt;
 font-weight:normal;
 text-align:right;
 font-family:"times new roman", times, serif;
 padding:0px;
}

