Si l'auteur n'existe pas encore, commencez par le créer, ensuite il apparaîtra dans le menu déroulant.
<p/>
Ont été ajoutés des boutons pour détruire/modifier les items
<p/>
Un champ "référence" a été ajouté dans la table des philosophèmes. Cela facilite à la fois l'indexation et la mise en forme du texte l'affichage.
<p/>
Le saut de ligne dans un texte est géré à l'affichage dans la liste des items.
<p/>
Le double -- est transformé automatiquement cadratin &mdash; ce qui est pratique dans les dialogues.
<p/>
Entre deux paragraphes, sautez une ligne.
<p/>Ne pas mettre de guillements avant et après le texte
<hr/>
Ne pas hésiter à demander pour de nouvelles fonctionnalités du système sur <a href="http://philo-labo.fr/Main/Dol%C3%A9ances">Doléances</a>
<ul>
<li>Ce qui paraît simple est souvent compliqué à réaliser</li>
<li>Mais ce qui paraît compliqué est parfois trivial à faire!</li>
</ul<




