/*  Copyright 2006-2007 Patrick R. Michaud (pmichaud@pobox.com)
    This file is wsextra.css; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published
    by the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.  */


/*  The "rollover" style handles rollover images and text.  It works
    by using absolute positioning to cause the "rollover" component
    to display on top of the "non-rollover" component, and sets the
    rollover as invisible (via opacity) until the mouse hovers over the
    component. 
*/
.rollover { 
  position:absolute; 
  opacity:0; -moz-opacity:0; filter:alpha(opacity=0); 
}
.rollover:hover 
  { opacity:1; -moz-opacity:1; filter:alpha(opacity=100); }

/*  These are here for browsers that don't understand "opacity". */
.rollover * { visibility:hidden; }
.rollover:hover * { visibility:visible; }


/*  A sidenote is a fixed-width frame with smaller text. */
.sidenote { width:200px; font-size: smaller; }
/*  A postit is a sidenote with a yellow background. */
.postit { background-color: #ffffa1; }
/*  These are bold title styles for sidenotes and postits. */
.notetitle { font-weight:bold; }
.postit .notetitle { padding: 0px 4px; background-color: #ffe53e; }


/*  A "left-right indent", indenting both sides. */
.lrindent { 
  margin-left:40px; 
  margin-right:40px; 
  text-align: justify;
  text-indent: 0.5cm;
}

/*  This provides a rounded background for a component. */
.round {
  min-height:40px;
  padding: 15px 20px 15px 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
}


/*  The "tip", "important", and "warning" styles provide colored
    backgrounds and associated icons. */
.tip {
  margin:0.3cm;
  padding-left: 80px;
  text-align: justify;
  text-indent:0.5cm;
  background: #ddffaa url(tip.gif) no-repeat 20px;
}

.bloc {
  margin:0.3cm;
  text-align: justify;
  text-indent:0.5cm;
  min-height:40px;
  padding: 15px 20px 15px 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
}


.important {
  margin:0.3cm;
  padding-left: 80px;
  text-align: justify;
  text-indent:0.5cm;
  background: #ffffcc url(important.gif) no-repeat 20px;
}

.warning {
  margin:0.3cm;
  padding-left: 80px;
  text-align: justify;
  text-indent:0.5cm;
  background: #ffdddd url(warning.gif) no-repeat 20px;
}

/*FE*/

.epigraph {
  line-height:100%;
  padding-left: 350px;
  text-align: justify;
  font-weight:bold;
  font: 12pt bolder serif;
}

.epigraph p {
  font-size:150%;
  font-weight:bold;
  font-family: "Times New Roman", Times, serif;
}

/* many other useful styles */

.uppercase { text-transform: uppercase; }        /* all uppercase */
.lowercase { text-transform: lowercase; }        /* all lowercase */
.capitalize { text-transform: capitalize; }      /* ucfirst */
.small-caps { font-variant: small-caps; }        /* small-caps */
.smaller { font-size: smaller; }                 /* smaller text */
.larger { font-size: larger; }                   /* larger text */
.b, .bold { font-weight: bold; }                 /* bold text */
.i, .italic { font-style: italic; }              /* italic text */
.u, .underline { text-decoration: underline; }   /* underline */
.absolute { position: absolute; }                /* absolute positioning */
.relative { position: relative; }                /* relative positioning */


/* a style for code blocks */
.code { 
  font-family:'Lucida Console','Andale Mono','Courier New',Courier, monospace;
  font-size: 0.9em;
  line-height:1.2em;
  white-space: pre; 
}
.code .vspace { margin-top:0px; }
.code pre { font-size:100%; }

/* outline numbering for ordered lists -- use %outline% on the
   first list item to enable it. */
ol.outline { list-style-type:upper-roman; }
ol.outline ol { list-style-type:upper-alpha; }
ol.outline ol ol { list-style-type:decimal; }
ol.outline ol ol ol { list-style-type:lower-roman; }
ol.outline ol ol ol ol { list-style-type:lower-alpha; }

.bq {
    max-width: 50%; 
    background: url(rs-right.png) right repeat-y ;

}
.bq::before {
    display: block;
    line-height: 0;
    background: url(rs-topright.png) top right no-repeat;
    content: url(rs-topleft.png) ;

}
.bq::after {
    display: block;
    line-height: 0;
    background: url(rs-bottomright.png) bottom right no-repeat;
    content: url(rs-bottomleft.png);
 }
 
div.gtexte {
  padding: 5px;
  margin:0cm Ocm Ocm Ocm;
  font-size:150%;
  font-family: "Minion",Roman,serif;
  margin-top:5px;
  margin-bottom:0px;
  text-indent: 1cm;
  width:100%;
  text-align:justify;
  height: auto;
/*  top: 0.5em; right: 0.5em; bottom: 0.5em; left: auto;*/
  background: #DDB url(coinhg.png) top left no-repeat 
  }

div.texte { 
  padding: 5px;
  /*margin:0cm Ocm Ocm Ocm;*/
  font-size:120%;
  font-family: "Minion",Roman,serif;
  margin: 5px 50px;
  margin-bottom:0px;
  text-indent: 1cm;
  width:90%;
  text-align:justify;
  height: auto;
/*  top: 0.5em; right: 0.5em; bottom: 0.5em; left: auto;*/
  background: #DDB; /*url(coinhg.png) top left no-repeat } */
  box-shadow: 5px 5px 5px 0px #656565;
  border-radius: 10px;}

  div.signature { 
  padding: 5px;
  margin:0cm;
  font-family: "Times New Roman","Roman",serif;
  font-size:150%;
  margin-top:0px;
  margin-bottom:5px;
  text-align:right;
  width:100%;
  height: auto;
/*  top: 1em; right: 1em; bottom: 1em; left: auto;*/
  background: #DDB bottom right no-repeat }





