body {
	background-color : #fff;
	color : black;
	font-family :Arial, sans-serif;
	font-size : 14px;
	margin : 0;
}
img {border-width:0px; border-color:#cccccc;}

a {
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
	line-height : 15px;
}
h1 {
	font-size : 170%;
/*	color : #ffa500;*/
	background-color : transparent;
}
h2 {
	font-size : 135%;
/*	color : #ffa500;*/
	background-color : transparent;
}
h3 {
	font-size : 120%;
/*	color : #ffa500;*/
	background-color : transparent;
}
h4 {
	font-size : 100%;
/*	color : #ffa500;*/
	background-color : transparent;
}
h5 {
	font-size : 95%;
	font-weight : bold;
	font-style : italic;
/*	color : #ff0500;*/
	background-color : transparent;
}
h6 {
	font-size : 90%;
        font-weight : normal;
        font-style : italic;
/*        color : #ff0500;*/
        background-color : transparent;
}
hr {
	border: 1px solid #ddd;
}
input, textarea {
	border : 1px solid #ccc;
	background : #fdfdfd;
	margin : 3px;
	padding : 2px;
}
#header {
	width : 100%;
	height: 1px;
	background-color : ivory;
	border:0px solid
}
#header a {
	color : darkblue;
	background-color : transparent;
	text-decoration : none;
}
#header a:hover {
	color : blue;
	background-color : transparent;
	text-decoration : none;
}
.title {
	width : 60%;
	padding-left : 5px;
	padding-right : 1px;
	border:0px solid;
}
.sitetitle {
	letter-spacing : 3px;
	line-height:1%;
	vertical-align : middle;
	color : #483d8b;
	background-color : transparent;
	font-weight : bold;
	font-size: 1.7em;
}
.subtitle {
	vertical-align : bottom;
	color : #483d8b;
	background-color : transparent;
	font-size : 1.10em;
	font-weight : normal;
}
.search {
	vertical-align : middle;
	text-align : right;
	width : 50%;
	padding : 0px;
	font-size: 1.2em;
	border:0px solid;
}
.searchbox {
/*	height:14px; */
	border: 1px solid #aaa;
}
.searchbutton {
/*	width: 24px;
	height: 14px */
}
#navbar {
	width : 100%;
	border : 0px;
	height: 1px;
	background-color : #86A6B1;
	line-height:60%;
	font-size:11px;
}
#navbar a {
	color : #fff;
	background-color : transparent;
	text-decoration : none;
}
#navbar a:hover {
	color : #f0e68c;
	background-color : transparent;
	text-decoration : none;
}
.breadcrumbs {
	width: 33%;
	letter-spacing : 1px;
	font-weight : bold;
	text-align : left;
	color : #fff;
	background-color : transparent;
}
.commands {
	width : 33%;
	text-align : right;
	padding-right : 5px;
	white-space : nowrap;
}
.commands ul {
	list-style : none;
	border : 0px;
	margin : 0px;
}
.commands li {
	display : inline;
	margin-left : 7px;
}
.commands li a {
	text-decoration : none;
	font-weight : bold;
	color : #fff;
	background-color : transparent;
}
.commands li a.createlink {
	display : none;
}
.commands li a:hover {
	color : black;
	background-color : transparent;
}
#content {
	width : 100%;
	vertical-align:top;
}
.sidebar {
	min-width : 100px;
	max-width : 300px;
	padding : 2px;
	vertical-align : top;
	border-right : 1px solid #86A6B1;
	/* border-right:1px solid; */
}


.sidebar a {
	color : #4a0082;
	background-color : transparent;
}

.sidebar a:hover {
	color:violet;
	font-weight:normal;
}

.sidebar ul {
	list-style-type:none;
	text-indent:-2.7em;
	line-height:100%;
	margin-left:0px;
	padding-left:Opx;	
}
.sidebar ul ul {
}
.sidebar ul ul ul {
	border:0px;
}

.sidebar li li {
	text-indent:-5.2em;
}
.sidebar li li li {
	text-indent:-7.6em;
}
.sidebar li li li li {
	text-indent:-7.8em;
}

.pagetitle {
	margin-top : 10px;
	margin-bottom : 25px;
	color : black;
	background-color : transparent;
}
.pagecontent {
	width : 100%;
	padding : 5px;
	vertical-align : top;
/* background-color:#CFDADE; */
}
.sidehead {
	text-decoration : none;
}
.sidehead a {
	text-decoration : none;
	font-size : 120%;
	background-color : transparent;
}
#footer {
	width : 100%;
	line-height:100%;
	font-size:11px;
	padding : 0;
	margin : 0;
        background-color:#86A6B1;
}
.updated {
	padding-left:160px;
	color:white;
	font-weight:bold; 
	font-size:20px;
}
.copyright {
	background-color : #fff;
	color : #666;
	letter-spacing : 1px;
	text-align : center;
}
.stdcommands {
	text-align : right;
	padding-right : 10px;
}
.stdcommands a {
	color : white;
	font-weight:bold;
	background-color : transparent;
	text-decoration : none;
	margin-left : 5px;
}
#wikitext {
	margin-top : 1em;
	line-height : 1.33em;
}
#wikitext a {
	color : #4a0082;
	background-color : transparent;
}
#wikiedit form {
	margin : 0;
}
#wikiedit textarea {
	width : 99%;
	margin : 0;
	clear : none;
}

/* ajout pour ai */


table  {

/* width:100%; */
	margin:Opx;
	border:1px solid;
	padding:0px;
	border-collapse:collapse;
        border-color:gray;
}

tr td{
    border:1px solid;
    border-color:gray;
    padding:2px;
    border-collapse:collapse;
    margin:0px;
}


td {width:auto;}

#ai table
        {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  border: 1px solid;
  margin: 1px;
  background: ivory;
  padding:2px;
  }
 
#ai th
        {
  background: lightblue;
  text-align: center;
  }
 
#ai tr td
        {
  border-spacing: 0;
  margin: 0;
  border-color: gray;
  border-style: solid;
  border: 1px solid;
  padding: 1px;
 
  }







