
.jolitexte {
 /* background: #DDB top left no-repeat; */
}

.jolitexte p {
 font: 14pt bolder serif;
 text-height:16pt;
 text-indent:40px;
 text-align:justify;
 padding: 5px 5px;
}

.auteur p{
 font-size: 14pt;
 font-weight:bold;
 text-align:right; 
 margin-top: -10px;

}

.reference p{
 font-style:italic;
 font-size: 14pt;
 font-weight:normal;
 text-align:right;
/* font-family: "Georgia", Georgia, serif;*/
 margin-top: -30px;
}

