div#quicktoc {
 width:245px;
 float:right;
 position:relative;
 border:1px solid white;
}
div#quicktocframe {
 position:absolute;
 top:0;
 left:0;
 border:2px solid #bbb;
 width:243px;
 font-size:9pt;
}
div#quicktocmsg {
 float:right;
 padding:.25em .25em 0 0;
 font-size:.75em;
 color:blue;
 cursor:pointer;
}
h1#quicktocheading {
 background-repeat:no-repeat;
 background-position:2px 2px;
 cursor:pointer;
 color:blue;
 background-color:#ddd;
 font-size:1em;
 font-weight:normal;
 margin:0;
 padding-left:12px;
}
h1#quicktocheading.open {
 background-image:url(arrowdown.gif) !important;
}
h1#quicktocheading.closed {
 background-image:url(arrowright.gif) !important;
}
div#quicktoccontents {
 display:none;
 color:blue;
 background-color:white;
 padding:3px;
}
div.quicktocitem {
 background-image:url(disc.gif);
 background-repeat:no-repeat;
 background-position:2px 2px;
 padding-left:10px;
}
