/* Following are the presentation styles -- edit away! */

body {background: #FFF; color: #000; font-size: 1.8em;min-height: 100%; margin: 0;}

.ratio{
  display:table;
  /*height:80vh;*/
  width:100%;
  text-align:center;
  /*border: 1px solid black;*/
  vertical-align:middle;
}
.ratio div{
  display:table-cell;
  vertical-align:middle;
  display:inline-block;
}

@media (min-aspect-ratio: 4/3) {
  .ratio .slide img{
    /*background: red;*/
    width:95%;
  }
}
@media (min-aspect-ratio: 16/9) {
  .ratio .slide img {
  /*background: yellow;*/
  width:70%;
  }
}

:link, :visited {text-decoration: none; color: #00C;}
#controls :active {color: #88A !important;}
#controls :focus {outline: 1px dotted #227;}
h1, h2, h3, h4 {font-size: 75%; margin: 0; padding: 0; font-weight: inherit;}
ul, pre {margin: 0; line-height: 1em;}
html, body {margin: 0; padding: 0;}

blockquote, q {font-style: italic;}
blockquote {padding: 0 2em 0.5em; margin: 0 1.5em 0.5em; text-align: center; font-size: 1em;}
blockquote p {margin: 0;}
blockquote i {font-style: normal;}
blockquote b {display: block; margin-top: 0.5em; font-weight: normal; font-size: smaller; font-style: normal;}
blockquote b i {font-style: italic;}

kbd {font-weight: bold; font-size: 1em;}
sup {font-size: smaller; line-height: 1px;}

.slide code {padding: 2px 1.25em; font-weight: bold; color: green;}
.slide code.bad, code del {color: red;}
.slide code.old {color: silver;}
.slide pre {padding: 0; margin: 0.25em 0 0.5em 0.5em; color: #533; font-size: 90%;}
.slide pre code {display: block;}
.slide ul {margin-left: 5%; margin-right: 7%; list-style: disc;}
.slide li {margin-top: 0.75em; margin-right: 0;}
.slide ul ul {line-height: 1;}
.slide ul ul li {margin: .2em; font-size: 85%; list-style: square;}
.slide img.leader {display: block; margin: 0 auto;}

.rfloat img {float:right;}

div#header, div#footer {background: #FFA54F;
  font-family: Verdana, Helvetica, sans-serif;}
div#header {background: lightblue;}
div#footer {font-size:0.7em;padding 10;}

#footer h1, #footer h2 {display:block; left:5px;}
#footer h2 {font-style: italic;}

div.long {font-size: 0.75em;}
.slide h1 {position:absolute;top: 5px; left:5px;z-index: 1;
  margin: 0;
  font: bold 180%/1em Helvetica, sans-serif;
  color: black;}
  
/*.slide h2 {margin-left: 70px;font-size: 150%;}
.slide h3 {margin-left: 90px;font-size: 120%;}
.slide h4 {margin-left: 110px;font-size: 90%;}
.slide h5 {margin-left: 130px;font-size: 60%;}
.slide h6 {margin-left: 150px;font-size: 20%;}*/

.titleslide1 { margin-left: 100px;}
.titleslide2 { margin-left: 130px;}
.titleslide3 { margin-left: 160px;}

.titleslide {position:absolute;top: 10px; left:10px;z-index: 1;
  margin: 0;
  font: bold 150%/1em Helvetica, sans-serif;
  color: black;}
.gtitle {font-weight:bold;position:absolute;top:-2px;left:65vw;font-size: 85%;white-space:nowrap;}
.slide h2 {position:absolute;top:25px;left:68vw;font-size: 82%;white-space:nowrap;}
.slide h3 {font-style:italic;position:absolute;top:51px;left:71vw;font-size: 80%;white-space:nowrap;}
.slide h4 {margin-left: 70px;font-size: 150%;}
.slide h5 {margin-left: 110px;font-size: 129%;}
.slide h6 {margin-left: 150px;font-size: 90%;}

.fullimage img {height:650px;width:960px;}

div#controls {position: absolute; left: 50%; bottom: 0;
  width: 50%;
  text-align: right; font: bold 0.9em Verdana, Helvetica, sans-serif;}
html>body div#controls {position: fixed; padding: 0 0 1em 0;
  top: auto;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
#controls #navLinks a {padding: 0; margin: 0 0.5em; 
  border: none; color: blue; 
  cursor: pointer;}
#controls #navList {height: 1em;}
#controls #navList #jumplist {position: absolute; bottom: 0; right: 0; color: #0;}

#currentSlide {text-align: center; font-size: 0.5em; color: pink;}

#slide0 {padding-top: 8.5em; font-size: 90%;}
#slide0 h1 {position: static; margin: 0,5em 0 0; padding: 0;
   font: bold 3em Helvetica, sans-serif; white-space: normal;
   color: #000; background: transparent;}
#slide0 h2 {font: bold italic 2em Helvetica, sans-serif; margin: 0.25em;}
#slide0 h3 {margin:0.75em; font-size: 1.5em;}
#slide0 h4 {font-size: 1em;}

ul.urls {list-style: none; display: inline; margin: 0;}
.urls li {display: inline; margin: 0;}
.note {display: none;}
.external {border-bottom: 1px;}
html>body .external {border-bottom: none;}
.external:after {content: " \274F"; font-size: smaller; color: #77B;}

.incremental, .incremental *, .incremental *:after {color: #DDE; visibility: hidden;} /* visible */
img.incremental {visibility: hidden;}
.slide .current {color: black;}


/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 *//* The following styles size, place, and layer the slide components.
   Edit these if you want to change the overall slide layout.
   The commented lines can be uncommented (and modified, if necessary) 
    to help you with the rearrangement process. */

/*target = 1024x768 */

div#header, div#footer, .slide {width: 100%; top: 0; left: 0;}
div#header {top: 0; height: 2.5em; z-index: 1;}
div#footer {color: black; top: auto; bottom: 0; left:0px; height: 0.3em; z-index: 5;}
.slide {top: 0; width: 92%; padding: 3em 4% 4%; z-index: 2;  list-style: none;}
div#navLinks {z-index: 100;}
div#controls {left: 50%; bottom: 0; width: 50%; z-index: 100;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0;}
#currentSlide {position: absolute; width: 10%; left: 45%; bottom: 1em; z-index: 10;}


