<div class='sujets'>
<p align=center><big><big><b>PHILOSOPHIE</b></big></big></p>
<p align=center>au choix</p>
<p/>
<p/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;<div class='sujet'>[Ressource n° de nature <b></b> non encore affichable]</div>  
<p/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;<div class='sujet'>[Ressource n° de nature <b></b> non encore affichable]</div>  
<p/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;<i>Expliquez le texte suivant</i>:

<table border=0>
<tr>
<td width=30></td><td width=550><div class='jolitexte'>[Ressource n° de nature <b></b> non encore affichable]</div></td>
</tr>
</table>
<p/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>La connaissance de la doctrine de l'auteur n'est pas requise. Il faut et il suffit que l'explication rende compte, par la compréhension précise du texte, du problème dont il est question.</i>
</div>